development:
  adapter: postgresql
  encoding: unicode
  database: sql_warmup
  pool: 5
  username: gschool
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: sql_warmup
  pool: 5
  username: gschool
  password: